Ãody, input, select, option {
    font: 13px/1.5 arial;
}
body {
    padding: 20px;
}
p, h1, ul {
    margin-bottom: 20px
}
h1 {
    font-size: 25px;
    font-weight: bold;
}
input[type=button] {
    padding-left: 5px;
    padding-right: 5px;
}
.filter-list {
    width: 550px;
}
.filter-list .list-container > ul {
	padding: 0;
	margin: 0 0 20px;
}
.filter-list-item {
    list-style: none;
    padding: 5px;
    margin: 5px 0 0;
    background: #ffc;
}
.filter-list-item:first-child {
    margin-top: 0;
}
.filter-list-item .remove-filter {
    float: right;
}
.filter-list-item .filter-container,
.filter-list-item .filter-widget,
.filter-list-item .filter-widget-value {
    display: inline-block;
}
.filter-list-item input[type=text] {
    width: 110px;
}
.filter-list-item .number input {
    text-align: right;
}
.filter-list-item input.date {
    background: #fff url(https://github.com/amitayh/Filters/raw/master/Example/images/date.png) no-repeat right;
}